## config/database.yml
# database default
DATABASE_NAME=good_night_backend_development
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgrespw

# database test
DATABASE_TEST_NAME=good_night_backend_development_test

# redis
REDIS_PORT=6379
REDIS_HOST=127.0.0.1

# JWT
SECRET_KEY_BASE=1234567890
